{% extends 'app/base.html' %} {% block content %}
<div class="container">
  <h1>チャットルーム</h1>
  <form
    method="post"
    action="{% url 'app:createcomment' board_id=chat_board.id%}"
  >
    {% csrf_token %}
    <label>コメントをする</label>
    {{form.comment}}{{form.comment.error}}
    <input type="submit" value="コメントする" />
  </form>
  <br />
  <br />
  <hr />
  {% for chat_comment in chat_comments %}
  <p>
    ユーザー名:
    <a href="{% url 'app:userdetails' pk=chat_comment.user_name.id %}"
      >{{chat_comment.user_name.username}}</a
    >
  </p>
  <p>　　　　　　　　　　　　　　　　コメント: {{chat_comment.comment}}</p>
  <p>投稿日: {{chat_comment.created_at}}</p>
  <hr />
  {% endfor %}{% endblock %}
</div>
