{% extends 'app/base.html' %} {% block content %}
<div class="container">
  <br />
  <h1>タイムライン</h1>
  <br />
  <form method="post" action="{% url 'app:createboard' %}">
    {% csrf_token %}
    <label>話題作成</label>
    {{ form.board_title }} {{ form.board_title.errors }}
    <input type="submit" value="作成する" />
  </form>
  <hr />
  {% for chat_board in chat_boards %}
  <p>
    話題：
    <a href="{% url 'app:chatcontent' pk=chat_board.id %}">
      {{chat_board.board_title}}
    </a>
  </p>
  <p>作成者: {{chat_board.user.username}}</p>
  <p>作成日: {{chat_board.created_at}}</p>
  <hr />
  {% endfor %}{% endblock %}
</div>
